html {
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-size: 3rem;
}
p,
h6 {
  font-family: "Bellota Text", sans-serif;
}

h6 {
  line-height: 1.625;
  font-size: 1rem;
  font-weight: 100;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.text h1 {
  font-family: "Seymour One", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}
.text h2 {
  font-family: "Seymour One", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.text-main {
  padding: 0 22%;
}
.text-main h6 {
  font-size: 1.2rem;
}

h2,
.download h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 900;
}

.text-medium,
.text p {
  line-height: 1.625;
}

.grid-flex img,
.image-center img,
.img-background img {
  width: 100%;
}
.background {
  background: #404eed;
  min-height: 626px;
}

.navbar {
  background: #404eed;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  min-height: 40px;
  padding: auto;
}
.hamburger {
  display: none;
}

ul {
  list-style: none;
}

.navbar ul li {
  float: left;
  padding: 0 1.3rem;
  color: #fff;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  border-radius: 30px;
  padding: 1% 2%;
  border: none;
  width: fit-content;
}

.discord-logo {
  margin-top: 16px;
  padding: 0 5%;
}

.grid-flex,
.description,
.footer-text,
.bottom {
  padding: 5% 8%;
}

.grid-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.description-text {
  padding: 0 5%;
}

.background-text {
  position: relative;
  text-align: center;
  top: 10vh;
  padding: 0px 5%;
  color: #fff;
  z-index: 10;
}

.img-background {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.img-section,
.img-right {
  width: 100%;
}
.greybg {
  background-color: #f6f6f6;
}

.download button {
  background-color: #5865f2;
  color: #fff;
  padding: 7% 14%;
  font-size: 0.8rem;
  width: fit-content;
}

.windows-download:hover,
.browser-open:hover,
.download-blue:hover {
  cursor: pointer;
  box-shadow: #23272a;
}

.browser-open {
  background-color: #23272a;
  color: #fff;
}
/* footer */

#footer {
  background-color: #23272a;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.infobox {
  display: flex;
  justify-content: start;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.routesection {
  float: left;
  margin: 2%;
}

.routesection h5 {
  color: #5865f2;
}

.routesection ul {
  padding: 0;
}

.footer-ul li {
  margin: 5%;
}

.footer-ul li a {
  text-decoration: none;
  color: white;
  padding: 5%;
}

.footer-ul li a:hover {
  text-decoration: underline;
}

usa-flag {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.small-text {
  color: white;
  font-size: 1rem;
  display: inline;
  line-height: 18px;
}

.social-media i {
  padding: 10px;
  color: white;
  font-size: 1.3rem;
}

.usa-flag {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.footer-links {
  display: flex;
  width: 70%;
  justify-content: end;
}

@media (max-width: 768px) {
  .grid-flex {
    flex-direction: column;
    text-align: center;
    padding: 15% 5%;
  }
  .open-discord {
    display: none;
  }
  .hamburger {
    display: block;
    position: relative;
    right: 5%;
  }
  .text h1 {
    font-size: 2rem;
  }

  .text h2 {
    font-size: 2rem;
  }

  .text-main {
    padding: 0;
  }

  h2,
  .download h4 {
    font-size: 1.2rem;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .description-text {
    width: 100%;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .left-img {
    display: none;
    float: right;
  }
  .right-img {
    position: relative;
    left: 30%;
  }
  .background-text {
    top: 6vh;
    padding-left: 6%;
    text-align: left;
  }
  h6 {
    margin-top: 0;
  }
  .download-btn button {
    display: block;
    width: 70%;
    font-size: 1.2rem;
    padding: 2% 8%;
  }
  .download-btn .windows-download {
    margin-bottom: 5%;
  }
}

@media (max-width: 988px) {
  .menu-nav {
    display: none;
  }
  .navbar {
    justify-content: space-between;
  }
}
